.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18 {
  float: left;
  margin: 0 2%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.col-1 {
  width: 5.55556%; }

.col-2 {
  width: 11.11111%; }

.col-3 {
  width: 16.66667%; }

.col-4 {
  width: 22.22222%; }

.col-5 {
  width: 27.77778%; }

.col-6 {
  width: 33.33333%; }

.col-7 {
  width: 38.88889%; }

.col-8 {
  width: 44.44444%; }

.col-9 {
  width: 50%; }

.col-10 {
  width: 55.55556%; }

.col-11 {
  width: 61.11111%; }

.col-12 {
  width: 66.66666%; }

.col-13 {
  width: 72.22222%; }

.col-14 {
  width: 77.77778%; }

.col-15 {
  width: 83.33333%; }

.col-16 {
  width: 88.88889%; }

.col-17 {
  width: 94.44444%; }

.col-18 {
  width: 100%; }
