/* Block and Inline Elements
============================ */
.block {
  background: #66fdd7;
  display: block;
}

.inline {
  background: #66fdd7;
  display: inline;
  margin-left: 3.5em;
}
.inline:first-child {
  margin-left: 0;
}

.block, .inline {
  margin-bottom: 1em;
}

ul {
  margin: 0;
  padding: 0;
}
