/* border-radius
======================= */
body, h4 {
  border: 1px solid #e0e0e0;
  border-radius: 8px; }

h4 {
  background: #f0f0f0;
  color: #880000;
  padding: 1em; }

.stamp {
  background: #880000;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.5), inset 0 3px 4px rgba(255, 255, 255, 0.6), 0 3px 6px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 -3px 8px rgba(0, 0, 0, 0.5), inset 0 3px 4px rgba(255, 255, 255, 0.6), 0 3px 6px rgba(0, 0, 0, 0.75);
  color: #5f0000;
  display: block;
  font-family: georgia, serif;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  line-height: 60px;
  margin: 2em auto 1em;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.25);
  height: 60px;
  width: 60px; }
