/* Image Float
============== */
/* line 4, ../sass/img-float.scss */
img {
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  float: left;
  margin: 0 2em 1em 0;
  padding: 8px; }
