/* Pseudo-classes
================= */
/* line 9, ../sass/pseudo-class.scss */
a {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin: .75em;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s; }
  /* line 20, ../sass/pseudo-class.scss */
  a.btn-primary {
    background: #8fe87d;
    border: 1px solid #44d926;
    -webkit-box-shadow: inset 0 0 0 1px #b4f0a8, 0 4px 0 #3ec323, 0 6px 6px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px #b4f0a8, 0 4px 0 #3ec323, 0 6px 6px rgba(0, 0, 0, 0.25);
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.6em 1.25em;
    text-shadow: 0 -1px 0 #44d926; }
    /* line 34, ../sass/pseudo-class.scss */
    a.btn-primary:visited {
      color: #d2f6cb; }
    /* line 35, ../sass/pseudo-class.scss */
    a.btn-primary:hover {
      background: #9eeb8e; }
    /* line 36, ../sass/pseudo-class.scss */
    a.btn-primary:active {
      -webkit-box-shadow: inset 0 0 0 1px #b4f0a8, 0 1px 0 #3ec323, 0 2px 2px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 0 0 1px #b4f0a8, 0 1px 0 #3ec323, 0 2px 2px rgba(0, 0, 0, 0.25);
      top: 3px; }
  /* line 46, ../sass/pseudo-class.scss */
  a.btn-secondary {
    background: #8fc5fc;
    border: 1px solid #2c92f9;
    -webkit-box-shadow: inset 0 0 0 1px #b7dafd, 0 4px 0 #1385f9, 0 6px 6px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 0 1px #b7dafd, 0 4px 0 #1385f9, 0 6px 6px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    padding: 0.4em 1em;
    text-shadow: 0 -1px 0 #2c92f9; }
    /* line 59, ../sass/pseudo-class.scss */
    a.btn-secondary:visited {
      color: #e8f3fe; }
    /* line 60, ../sass/pseudo-class.scss */
    a.btn-secondary:hover {
      background: #a3cffd; }
    /* line 61, ../sass/pseudo-class.scss */
    a.btn-secondary:active {
      -webkit-box-shadow: inset 0 0 0 1px #b7dafd, 0 1px 0 #1385f9, 0 2px 2px rgba(0, 0, 0, 0.25);
      box-shadow: inset 0 0 0 1px #b7dafd, 0 1px 0 #1385f9, 0 2px 2px rgba(0, 0, 0, 0.25);
      top: 3px; }
  /* line 71, ../sass/pseudo-class.scss */
  a.btn-tertiary {
    background: #a1a1a1;
    border: 1px solid #6e6e6e;
    -webkit-box-shadow: inset 0 0 0 1px #bababa;
    box-shadow: inset 0 0 0 1px #bababa;
    padding: 0.2em 0.75em;
    text-shadow: 0 -1px 0 #6e6e6e; }
    /* line 79, ../sass/pseudo-class.scss */
    a.btn-tertiary:visited {
      color: #cfcfcf; }
    /* line 80, ../sass/pseudo-class.scss */
    a.btn-tertiary:hover {
      background: #ababab; }
    /* line 81, ../sass/pseudo-class.scss */
    a.btn-tertiary:active {
      background: #949494;
      -webkit-box-shadow: inset 0 0 0 1px #b5b5b5, 0 0 4px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 0 0 1px #b5b5b5 0 0 4px rgba(0, 0, 0, 0.2); }
