/* CSS Tabbed Menu
======================= */
nav {
  border-bottom: 1px solid #e0e0e0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;
  position: relative;
  bottom: -1px; }

li {
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float: left;
  margin-right: .5em;
  padding: 0.35em 1.25em; }

a {
  color: #444444;
  text-decoration: none; }

.active {
  background: #f9f9f9;
  border-bottom: 1px solid #f9f9f9; }
