/* Tableless Layout
======================= */
/* line 4, ../sass/tableless.scss */
.col-3 {
  float: left;
  margin-left: 2%;
  width: 32%; }
  /* line 8, ../sass/tableless.scss */
  .col-3:first-child {
    margin-left: 0; }

/* line 10, ../sass/tableless.scss */
footer {
  border-top: 1px solid #e0e0e0;
  font-size: .85em;
  text-align: center; }
