/* z-index
======================= */
/* line 3, ../sass/z-index.scss */
img {
  position: relative; }
  /* line 5, ../sass/z-index.scss */
  img:hover {
    z-index: 10; }

/* line 9, ../sass/z-index.scss */
.top-layer {
  left: 140px;
  top: -300px; }
